@import 'src/styles/index';

.box {
  z-index: 100;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: gap(4);

  @include md_down() {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    order: 1;
  }

  .image_box {
    .image {
      width: 80px;
      height: 120px;

      border-radius: $br_full;
      object-fit: cover;
    }
  }

  .icon_box {
    display: flex;
    flex-direction: column;

    @include md_down() {
      flex-direction: row;
      gap: gap(4);
    }

    .link {
      font-size: 72px;

      .icon {
        transition: scale 400ms;
        fill: none;
      }

      .icon:hover {
        scale: 1.1;
      }
    }
  }
}
