@import 'src/styles/index';

.greetings_box {
  display: flex;
  flex-direction: column;
  gap: gap(4);

  margin-bottom: gap(4);
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: gap(4);
  margin-bottom: gap(4);

  &.even {
    flex-direction: row;
  }

  &.odd {
    flex-direction: row-reverse;
  }

  @include md_down() {
    display: flex;
    flex-direction: column;
    width: 100%;

    &.even, &.odd {
      flex-direction: column;
    }

    .image, .text {
      width: 100%;
    }
  }
}

.image {
  width: 50%;

  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;

  border-radius: $br_4;
  box-shadow: $box-shadow;
}

.text {
  display: flex;
  flex-direction: column;
  gap: gap(2);

  width: 50%;
}
