@import 'src/shared/styles/index';

.box {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: gap(2);
  margin: gap(2) 0;
  background: $background_1;
  border-radius: $br_2;
}

.button {
  position: relative;

  align-self: flex-end;
  text-transform: lowercase;
  height: fit-content;

  order: 2;
  width: 100%;
}

.button_icon {
  position: absolute;
  top: gap(8);
  right: gap(6);

  svg {
    font-size: 24px;
    color: $accent;
    border-radius: $br_1;

    outline: 1px solid $accent;
    padding: gap(1);
    aspect-ratio: 1/1;

    cursor: pointer;
  }

  &.copied {
    svg {
      color: $success;
      outline-color: $success;
    }
  }
}

.code {
  background: #282c34;
  color: #61dafb;
  padding: gap(4);
  border-radius: $br_2;

  font-family: 'IBM Plex Mono', 'Courier New', monospace;
  font-size: 0.875rem;
  line-height: 1.5;

  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #61dafb;
    border-radius: $br_1;
    border: 2px solid $background;
  }

  &::-webkit-scrollbar-track {
    background-color: $background;
    border-radius: $br_1;
  }

  // Firefox
  scrollbar-width: thin;
  scrollbar-color: #61dafb $background;
}
