@import 'src/styles/index';

.text {
  margin: 0;
  padding: 0;
  transition: $transition;
}

// Sizes
.xs {
  font-size: 0.75rem;
}

.sm {
  font-size: 0.875rem;
}

.md {
  font-size: 1rem;
}

.lg {
  font-size: 1.25rem;
}

.xl {
  font-size: 1.5rem;
}

// Variants (Colors)
.default {
  color: $text-default;
}

.primary {
  color: $primary;
}

.secondary {
  color: $text-secondary;
}

.accent {
  color: $accent;
}

.error {
  color: $error;
}

.success {
  color: $success;
}

// Weights
.thin {
  font-weight: $thin;
}

.extra_light {
  font-weight: $extra_light;
}

.light {
  font-weight: $light;
}

.regular {
  font-weight: $regular;
}

.medium {
  font-weight: $medium;
}

.semi_bold {
  font-weight: $semi_bold;
}

.bold {
  font-weight: $bold;
}
