@import 'src/styles/index';

.header {
  position: fixed;
  z-index: 2000;

  width: 100%;

  background: $background_1;
  padding: gap(3);

  @include md_down {
    padding: gap(2);
  }
}

.box {
  @include glass(720px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: gap(3);

  @include lg_down {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: gap(2);
  }
}

.open {
  opacity: 1;
  transition: opacity 0.3s ease;
  pointer-events: auto;
}

.close {
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.burger_menu {
  display: none;
  cursor: pointer;

  svg {
    width: 32px;
    height: 32px;
  }

  @include lg_down {
    display: block;
  }
}
