@font-face {
    font-family: 'PixelGame';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('PixelGamer-Regular.otf');
}

@font-face {
    font-family: 'PixelGame';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('PixelGamer-Half.otf');
}

@font-face {
    font-family: 'PixelGame';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('PixelGamer-Extrude.otf');
}
