@import 'src/shared/styles/index';

.list {
  margin-bottom: gap(4);

  .listTitle {
    margin-bottom: gap(2);

    font-size: 1rem;
    font-weight: $medium;
    line-height: 1.6;
  }

  ul {
    list-style: disc;
    padding-left: gap(4);

    li {
      margin-bottom: gap(1);

      font-size: 1rem;
      font-weight: $medium;
      line-height: 1.6;
    }
  }
}
