@import 'src/styles/index';

.input_container {
  display: flex;
  flex-direction: column;
  margin-bottom: gap(3);
}

.input_box {
  display: flex;
  gap: gap(2);
  margin-bottom: gap(3);
}

.input {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 2px solid $accent;
  transition: border-color 0.3s ease;
  border-radius: $br_3;

  &:focus {
    border-color: #007bff;
    outline: none;
  }

  &.error {
    border-color: $error;
  }
}

.error_message {
  color: $error;
  font-size: 14px;
}

// Sizes
.xs {
  .input {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}

.sm {
  .input {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }
}

.md {
  .input {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
}

.lg {
  .input {
    width: 45px;
    height: 45px;
    font-size: 20px;
  }
}

.xl {
  .input {
    width: 50px;
    height: 50px;
    font-size: 22px;
  }
}

// Variants
.default {
  .input {
    background: transparent;
    border-color: $default;
    color: $text-default;
  }
}

.primary {
  .input {
    background: transparent;
    border-color: $primary;
    color: $text-default;
  }
}

.secondary {
  .input {
    background: transparent;
    border-color: $secondary;
    color: $text-default;
  }
}

.accent {
  .input {
    background: transparent;
    border-color: $accent;
    color: $text-default;
  }
}
