@import 'src/styles/index';

.skeleton {
  animation: pulse 1.5s infinite;
  margin: gap(1) 0;

  // Sizes

  &.xs {
    height: 16px;
    width: 60px;
    border-radius: $br_1;
  }

  &.sm {
    height: 20px;
    width: 80px;
    border-radius: $br_1;
  }

  &.md {
    height: 24px;
    width: 100px;
    border-radius: $br_2;
  }

  &.lg {
    height: 28px;
    width: 120px;
    border-radius: $br_2;
  }

  &.xl {
    height: 32px;
    width: 140px;
    border-radius: $br_2;
  }

  // Variants

  &.default {
    background-color: rgba($default, 0.2);
  }

  &.primary {
    background-color: rgba($primary, 0.2);
  }

  &.secondary {
    background-color: rgba($secondary, 0.2);
  }

  &.accent {
    background-color: rgba($accent, 0.2);
  }

  &.wide {
    width: 100%;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
