@import 'src/styles/index';

.box {
  z-index: 100;
  display: block;

  height: min-content;
  padding: gap(4);

  .title {
    font-size: 48px;
    color: $text-default;
  }

  @include md_down() {
    order: 2;
  }
}
