@import 'src/styles/index';

.drawer_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1000;

  touch-action: none;
  pointer-events: none;
  overflow-y: hidden;
}

.drawer {
  pointer-events: auto;

  position: relative;
  width: 100vw;
  background: $background;
  border-radius: $br_6 $br_6 0 0;
  box-shadow: $box-shadow;
  overflow: hidden;
  transition: height 0.3s ease;
}

.drag_handle {
  width: 50px;
  height: 5px;
  background-color: $accent;
  border-radius: 5px;
  margin: 10px auto;
  cursor: grab;
  touch-action: none;
}
