@import 'src/styles/index';

.matter_box {
  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  grid-template-rows: max-content 1fr;

  width: calc(100vw - 350px);
  height: 100%;

  @include md_down() {
    display: none;
  }
}
