@use 'sass:color';

@import 'src/styles/index';

.box {
  display: grid;
  grid-template-columns: 100px 1fr auto;
  height: 100%;

  @include md_down() {
    grid-template-columns: 1fr;
  }

  .wrapper {
    position: relative;
    z-index: 100;

    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    width: 350px;
    height: 100%;

    @include md_down() {
      width: 100%;
      order: 3;
    }

    &.hidden {
      transform: translateX(100%);
    }

    .toggle_button {
      position: absolute;
      top: 20px;
      left: -60px;
      width: 50px;
      height: 50px;

      background-color: $background-1;
      color: $accent;
      border-color: $accent;
      border-radius: $br_full;
      cursor: pointer;
      text-align: center;

      &:hover {
        background-color: color.scale($background-1, $lightness: 10%);
      }

      @include md_down() {
        display: none;
      }
    }

    .icon {
      transition: transform 0.3s ease-in-out;
      transform: rotate(180deg);
      font-size: 24px;

      &.icon_open {
        transform: rotate(0deg);
      }
    }
  }
}
