@import 'src/styles/index';

.article {
  display: flex;
  flex-direction: column;
  gap: gap(4);

  width: 100%;

  .article_title {
    font-weight: $semi_bold;
  }

  .content {
    margin-top: gap(4);
  }
}

.external_links {
  display: flex;
  flex-direction: column;
  gap: gap(3);

  padding: gap(4);
  border-radius: $br_3;
  border: 1px solid $accent;

  > h3, .external_links > :global(.heading-md) {
    margin-bottom: gap(3);
    font-weight: $medium;
    border-bottom: 2px solid $accent;
    color: $accent;
  }

  .links_grid {
    display: flex;
    flex-direction: column;
    gap: gap(2);
  }

  .external_link {
    position: relative;
    padding-left: gap(5);
    transition: color 0.3s ease;

    font-weight: $medium;
    color: $accent;
    text-decoration: none;

    &::before {
      content: '·';

      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      font-size: 20px;
      color: $accent;
    }

    &:hover,
    &:focus {
      color: $accent;
      outline: none;

      &::before {
        color: $accent;
      }
    }
  }
}
