@import 'src/styles/index';

.article {
  display: flex;
  flex-direction: column;
  gap: gap(4);

  width: 100%;

  .article_title {
    font-weight: $semi_bold;
  }

  .content {
    margin-top: gap(4);
  }
}
