@import 'src/styles/index';

.box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: gap(4);

  padding: gap(4);

  @include lg_down {
    grid-template-columns: repeat(3, 1fr);
  }

  @include md_down {
    grid-template-columns: 1fr;
  }
}
