// project colors
$primary: #B0FF00;
$accent: #FFD829;
$secondary: #262626;
$default: #f5f5f5;

$pack-color: #B0FF00;
$logo-color: #7C97C5;

// base colors
$white: #fff;
$gray: #5a5a5a;
$black: #000;
$yellow: #FFD600;

// backgrounds
$background: #222;
$background_1: #262626;
$background-main: #DFEBFF;
$background-white: #FFFFFF;

// text
$text-default: $white;
$text-primary: $black;
$text-secondary: $gray;

$text-white: $white;
$text-black: $black;
$text-yellow: $yellow;

// status
$error: #ff4b4b;
$warning: #ff9900;
$success: $primary;

// animations
$transition-duration: 0.3s;
$transition-ease: ease;
$transition: all $transition-duration $transition-ease;

// shadows
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

// hover

// active

// skeleton
$skeleton-bg-default: #e0e0e0;
$skeleton-bg-primary: #bbdefb;
$skeleton-bg-secondary: #c8e6c9;
$skeleton-bg-accent: #ffcdd2;

// button
$button-main: #e2e2e2;
