$width_xlg: 1440px;
$width_lg: 1024px;
$width_md: 768px;
$width_sm: 480px;
$width_xs: 340px;

$width_btn_xl: 200px;
$width_btn_lg: 160px;
$width_btn_md: 120px;
$width_btn_sm: 100px;
$width_btn_xs: 80px;

$br_full: 99999px;
$br_8: 32px;
$br_7: 28px;
$br_6: 24px;
$br_5: 20px;
$br_4: 16px;
$br_3: 12px;
$br_2: 8px;
$br_1: 4px;

@mixin glass($width) {
  width: min(100%, #{$width});
  margin: 0 auto;
}
