@import './colors.scss';

@mixin brightness-effects($hover-brightness: 0.8, $active-brightness: 0.6) {
  transition: $transition;

  &:hover {
    -webkit-filter: brightness($hover-brightness);
    filter: brightness($hover-brightness);
  }

  &:active {
    -webkit-filter: brightness($active-brightness);
    filter: brightness($active-brightness);
  }
}

@mixin button-hover-tilt($scale-factor: 1.1, $rotate-x: 8deg, $rotate-y: 8deg) {
  transition: transform .2s ease;

  &:hover {
    transform: rotateX($rotate-x) rotateY($rotate-y) scale($scale-factor);
  }

  &:active {
    transform: rotateX(-$rotate-x) rotateY($rotate-y) scale($scale-factor);
  }
}
