@import 'src/styles/index';

.box {
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;

  @include background-theme($background);
}

.main {
  max-width: 720px;
  width: 100%;

  margin: 0 auto;
  padding: gap(4) 0;

  @include md_down() {
    padding: gap(4);
  }
}
