@import 'src/styles/index';

.box {
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;

  @include background-theme($background);
}

.main {
  max-width: 720px;
  width: 100%;

  margin: 120px auto 0;
  padding: gap(4) 0;

  @include lg_down() {
    margin: 80px auto 0;
    max-width: 100vw;
    padding: gap(4);
  }

  @include md_down() {
    margin: 80px auto 0;
    max-width: 100vw;
    padding: gap(4);
  }
}

.wide {
  max-width: 100vw;
  padding: 0;

  @include md_down() {
    max-width: 100vw;
  }
}

