@import 'src/styles/index';

.article {
  display: flex;
  flex-direction: column;
  gap: gap(4);

  padding: gap(4);
  border-radius: $br_4;
  box-shadow: $box-shadow;

  .link {
    align-self: flex-end;

    @include md_down() {
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}
