@use 'sass:color';

@import 'src/styles/index';

.section {
  display: flex;
  flex-direction: column;
}

.matter_box {
  @include md_down {
    position: relative;
  }
}

.button_up {
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 20px;

  width: 50px;
  height: 50px;

  text-align: center;

  cursor: pointer;

  padding: 0;

  &:hover {
    background-color: color.scale($background-1, $lightness: 10%);
  }

  @include md_up() {
    display: none;
  }

  svg {
    font-size: 24px;

    transition: all 1s ease-in-out;

    &.hidden {
      transform: rotate(180deg);
    }
  }
}

