@import 'src/styles/index';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: gap(2) gap(4);
  border-radius: $br_2;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;

  font-family: 'Unbounded', sans-serif;
  font-weight: $regular;

  user-select: none;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.wide {
    width: 100%;
  }

  &.loading {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &.filled {
    border: none;
  }

  &.outline {
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
  }
}

.icon {
  margin-right: gap(1);
}

.xs {
  padding: gap(1) gap(2);
  font-size: 0.75rem;
}

.sm {
  padding: gap(2) gap(3);
  font-size: 0.8rem;
}

.md {
  padding: gap(2) gap(4);
  font-size: 0.875rem;
}

.lg {
  padding: gap(3) gap(5);
  font-size: 1rem;
}

.xl {
  padding: gap(4) gap(6);
  font-size: 1.125rem;
}

.default {
  @include button-theme($button-main, $text-black, $default);

  &.outline {
    @include button-theme(transparent, $default, $default);
  }
}

.primary {
  @include button-theme($primary, $white, $primary);

  &.outline {
    @include button-theme(transparent, $primary, $primary);
  }
}

.secondary {
  @include button-theme($secondary, $white, $secondary);

  &.outline {
    @include button-theme(transparent, $secondary, $secondary);
  }
}

.accent {
  @include button-theme($accent, $black, $accent);

  &.outline {
    @include button-theme(transparent, $accent, $accent);
  }
}

.tilt {
  @include button-hover-tilt();
}
