@import 'src/styles/index';

.box {
  display: grid;
  place-items: center;
  height: 100svh;
  grid-template-rows: auto auto auto;
  text-align: center;
}

.cucumber_image {
  width: 250px;
  height: auto;

  @media (max-width: $width_lg) {
    width: 180px;
  }
}

h1 {
  @include font_Tickerbit;
  font-size: 48px;
  font-weight: 400;
  color: white;
  margin: gap(3) 0;

  @media (max-width: $width_lg) {
    font-size: 32px;
  }
}

p {
  @include font_Nunito;
  font-size: 24px;
  font-weight: 400;
  color: $primary;
  margin-bottom: gap(4);

  @media (max-width: $width_lg) {
    font-size: 18px;
  }
}
