@import 'src/styles/index';

.toast_container {
  position: fixed;
  bottom: 16px;
  left: 16px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: gap(2);

  @media (max-width: $width_md) {
    left: 50%;
    bottom: auto;
    top: 16px;
    transform: translateX(-50%);

    width: 100%;
  }
}

.toast {
  display: flex;
  flex-direction: row;
  gap: gap(2);

  position: relative;
  @include toast-theme($background, $text-black, $box-shadow);

  border-radius: $br_6;
  padding: gap(5) gap(4);

  opacity: 0;
  animation: fadeIn 0.3s forwards,
  fadeOut 0.3s forwards 4.7s;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: $text-black;

  &:hover {
    color: $accent;
  }
}

.children {
  margin-top: gap(2);
}

.default {
  @include toast-theme($default, $text-black, $box-shadow);
}

.success {
  @include toast-theme($default, $white, $box-shadow);
}

.error {
  @include toast-theme($error, $white, $box-shadow);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
