@import 'src/styles/index';

.header {
  width: 100%;

  padding: gap(4);

  background: $background_1;
}

.box {
  @include glass(720px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: gap(6);

  @include lg_down {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: gap(2);
  }
}

.open {
  opacity: 1;
  transition: opacity 0.3s ease;
  pointer-events: auto;
}

.close {
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.logo {
  z-index: 2;

  font-family: 'Unbounded', sans-serif;
  font-size: 24px;
  font-weight: $bold;
  color: $yellow;
}

.burger_menu {
  display: none;
  cursor: pointer;

  svg {
    width: 32px;
    height: 32px;
  }

  @media (max-width: $width_md) {
    display: block;
  }
}
