@import 'src/styles/index';

.footer {
  width: 100%;

  padding: gap(4);

  background: $background_1;
}

.box {
  @include glass(720px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: gap(6);

  text-align: center;
}

.logo {
  z-index: 2;

  font-family: 'Unbounded', sans-serif;
  font-size: 24px;
  font-weight: $bold;
  color: $yellow;
}
