@import 'src/styles/index';

.greetings_box {
  display: flex;
  flex-direction: column;
  gap: gap(4);

  margin-bottom: gap(4);
}

.card_list {
  display: flex;
  flex-direction: column;
  gap: gap(4);

  .card {
    display: flex;
    flex-direction: column;
    gap: gap(2);
  }
}

.tags_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: gap(2);

  padding: gap(2) 0;
}

.active {
  background: $yellow;
}
