@import 'src/styles/index';

.board_row {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 140px minmax(100px, 1fr);
  align-self: start;

  .category_title {
    font-family: "EB Garamond", serif;
    font-style: italic;
    color: $text-secondary;
  }
}

.books {
  display: flex;
  flex-direction: column;
  gap: gap(2);

  .link {
    display: block;
  }

  .link:hover {
    text-decoration: underline;
  }

  .book_item {
    font-family: "EB Garamond", serif;
    font-style: italic;
    color: $text-yellow;
  }

  .book_description {
    font-family: "EB Garamond", serif;
    font-style: italic;
    color: $text-secondary;
  }
}

