@import 'src/styles/index';

.box {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: gap(4);

  transition: opacity 0.3s ease, visibility 0.3s ease;
  visibility: hidden;
  opacity: 0;

  /* md:flex-1 */
  @media (min-width: 768px) {
    flex: 1 1 0;
    margin-bottom: 0;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.message {
  background: #93c5fd;
  padding: gap(2);

  border-radius: $br_4;

  margin-left: 1rem;
  color: #000; /* можно настроить цвет */
  max-width: 250px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.messageShow {
  opacity: 1;
  visibility: visible;
}

.messageHidden {
  opacity: 0;
  visibility: hidden;
}
