@import 'src/shared/styles/index';

.paragraph {
  margin-bottom: gap(2);

  font-weight: $medium;
  font-size: 1rem;
  line-height: 1.8;
  text-align: left;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}
