@import 'src/styles/index';

.box {
  display: flex;
  align-items: center;
  text-decoration: none;

  padding: gap(3);
  margin: gap(3) 0;

  background: $secondary;
  border-radius: $br_4;
  box-shadow: $box-shadow;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: $box-shadow-hover;
  }

  .image {
    width: 80px;
    height: 80px;
    margin-right: gap(3);
    border-radius: $br_2;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: gap(1);
  }

  .text {
    font-size: 1rem;
    font-weight: $medium;
    color: $text-default;
  }

  .description {
    font-size: 0.875rem;
    color: $text-secondary;
  }
}
