@import 'src/styles/index';

.nav_links {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: gap(4);

  z-index: 1;

  @media (max-width: $width_md) {
    display: none;
  }

  .link:hover {
    & > * {
      color: $accent;
    }
  }

  .active {
    & > * {
      color: $accent;
    }
  }
}
