@import 'src/styles/index';

.mobile_menu {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  gap: gap(4);

  width: 100%;
  height: calc(100dvh - 30px);

  background-color: $background;
  padding: gap(4);

  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.link {
  border: 2px solid $gray;
  padding: gap(4);
  border-radius: $br_2;
}

.active {
  border-color: $accent;

  & > * {
    color: $accent;
  }
}
