@import 'src/styles/index';

.mobile_menu {
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 2000;

  display: flex;
  flex-direction: column;
  gap: gap(4);

  width: 100%;
  height: 100dvh;
  //height: calc(100dvh - 30px);

  background-color: $background;
  padding: gap(4);
}

.link {
  border: 2px solid $gray;
  padding: gap(4);
  border-radius: $br_2;
}

.active {
  border-color: $accent;

  & > * {
    color: $accent;
  }
}
